<div class="row ml-sm-5" >
        <div class="col">
          <div class="card" style="width:400px">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1592395940035-d7407d9d7253?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODYxfQ&auto=format&fit=crop&w=751&q=80" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <app-model></app-model>
              </div>
            </div>
        </div>
  
        <div class="col">
          <div class="card" style="width:400px">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1592395940035-d7407d9d7253?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODYxfQ&auto=format&fit=crop&w=751&q=80" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <app-model></app-model>
              </div>
            </div>
        </div>
  
        <div class="col">
          <div class="card" style="width:400px">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1592395940035-d7407d9d7253?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODYxfQ&auto=format&fit=crop&w=751&q=80" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <app-model></app-model>
              </div>
            </div>
        </div>
  
        <div class="col">
          <div class="card" style="width:400px">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1592395940035-d7407d9d7253?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODYxfQ&auto=format&fit=crop&w=751&q=80" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text.</p>
                <app-model></app-model> 
              </div>
            </div>
        </div>
  
        
    </div>
  
