<div class="container bg-success">
        <h1>Products</h1>
        <br><br>
        <div class="row ">
            <div class="col-12">
                <h4>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim fugit nihil eius reiciendis sit sequi debitis aspernatur distinctio? Asperiores aut maxime unde expedita tempora qui incidunt rem adipisci explicabo repellendus fuga repudiandae corporis laboriosam optio placeat dolorem fugiat, ea distinctio ab magni eius impedit beatae doloremque? Hic distinctio inventore, accusantium repellendus tenetur odit, maiores id perferendis quis at exercitationem. Quae error id harum laboriosam eius excepturi, provident natus facere temporibus corrupti, et quasi debitis mollitia rerum recusandae quos laborum eum fuga rem aliquam voluptatibus itaque architecto! Neque repellat quis aliquam quae provident ex debitis beatae vitae odit! Nobis, tempore quae.
                </h4>
            </div>
        </div>
    </div>
    
